# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Idle Clicker Game.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Cursos Unity\Idle Clicker Game\.idea\.idea.Idle Clicker Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
